<div class="row">
  <div class="col-md-6 col-sm-8 col-lg-6">

	<div class="panel panel-primary">
		<div class="panel-heading"><h3>Add Event</h3></div>
		<div class="panel-body">
			<form class="form" role="form" id="addEventForm" ng-submit='addEventForm.$valid && eventCtl.submitForm(eventCtl.eventForm)' novalidate name="addEventForm">


				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
						<div class="form-group" ng-class="{'has-error': addEventForm.eventName.$touched && addEventForm.eventName.$invalid, 'has-success': addEventForm.eventName.$touched && addEventForm.eventName.$valid }">
							<label for="eventName" class="control-label">Name</label>
								<input type="text" ng-model='eventCtl.eventForm.name' required class="form-control"  name="eventName" placeholder="Your Name" ng-minlength='3' ng-maxlength='50'>
								<p class="help-block" ng-show='addEventForm.$dirty && addEventForm.eventName.$invalid'>Please Enter an Your Name between 3 and 50 characters </p>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
						<div class="form-group">
							<label for="eventDescription" class="control-label">Description</label>
								<input type="textarea"  required ng-model='eventCtl.eventForm.description' class="form-control" name="eventDescription" placeholder="Session Description">
								<p class="help-block"  ng-show='addEventForm.$dirty && addEventForm.eventDescription.$invalid'>Please enter an Event Description</p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
						<div class="form-group">
							<label for="eventDate" required class=" control-label">Date</label>
								<input type="text" required ng-pattern='/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/' ng-model='eventCtl.eventForm.date' class="form-control" name="eventDate" placeholder="yyyy-mm-ddthh-mm-ssz">
								<p class="help-block"  ng-show='addEventForm.eventDate.$invalid'>Please enter the date in the yyyy-mm-dd format</p>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
						<div class="form-group">
							<label for="eventLocation" class=" control-label">Location</label>
								<input type="text" required ng-model='eventCtl.eventForm.location' class="form-control" name="eventLocation" placeholder="Event Location">
								<p class="help-block">The event location</p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
						<div class="form-group">
							<label for="eventCategory"  class="control-label">Category</label>
								<select class="form-control" required ng-model='eventCtl.selectedOption' ng-options="category.name for category in eventCtl.categories track by category.id" data-width="100%" name="eventCategory">

								</select>
							<p class="help-block">Select the event category</p>
						</div>
					</div>

					<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
						<div class="form-group">
							<label for="eventEmailInfo" class=" control-label">Email</label>
								<input type="email" ng-model='eventCtl.eventForm.email'  class="form-control" name="eventEmailInfo" placeholder="Email Info">
								<p class="help-block">The contact email</p>

						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
					 <div class="form-group">
					 	<label for="eventSpecial" class="control-label">Special Event?</label>
					 	<br>
					 	<label >
					 	<input type="radio" ng-model='eventCtl.eventForm.specialEvent' value='true' > Yes
					 	</label>

					    <label >
					 	<input type="radio" ng-model='eventCtl.eventForm.specialEvent' value='false'> No
					 	</label>



					 </div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
					 <div class="form-group" ng-if="eventCtl.eventForm.specialEvent==='true'">
					 	<label for="eventSpecialTypes" class="control-label"> Special Event Type</label>
					 	<br>
					 	  <div ng-repeat="type in eventCtl.specialType">

					 	  	   <input type="checkbox" name="eventSpecialType" ng-model='type.checked' ng-true-value="'YES'"
					 	  	   ng-false-value="'NO'">{{type.name}}
					 	  </div>

					 	     <input type="checkbox" ng-model='eventCtl.bothSelected' ng-click="eventCtl.selectAllTypes()" name="selectAllTypes" > Both


					 </div>
					</div>
				</div>

				<hr />

				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
						<div class="form-group">
							<button  type="submit" ng-disabled="addEventForm.$invalid" class="btn btn-primary">Submit</button>
							<button type="reset" class="btn btn-primary">Reset</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
  </div>
    <div class="col-md-6 col-sm-8 col-lg-6">

                <table class="table table-hover">
                	<thead>
                		<tr>
                			<th>Event</th>
                			<th>Description</th>
                			<th>Category</th>
                			<th>Contact Email</th>
                			<th>Location</th>
                			<th>Date</th>
                		</tr>
                	</thead>
                	<tbody>
                		<tr ng-repeat="event in eventCtl.event">
                			<td>{{event.name}}</td>
                			<td>{{event.description}}</td>
                			<td>{{event.category}}</td>
                			<td>{{event.email}}</td>
                			<td>{{event.location}}</td>
                			<td>{{event.date | date: 'yyyy-MM-dd'}}</td>
                		</tr>
                	</tbody>
                </table>
    </div>
</div>

<div class="row">



  </div>
</div>
