<div class="row" ng-controller="ContactsCtrl">
  <div class="large-10 columns">
    <div data-alert ng-show="msg" class="alert-box">{{msg}}</div>

    <!-- Add Contact -->
    <form ng-submit="addFormSubmit()" ng-show="addFormShow">
      <h3>Add Appointment</h3>
      <div clas="row">

        <div class="large-6 columns">
          <label>Name:
            <input type="text" ng-model="name" placeholder="Contact Name" required />
          </label>
        </div>

        <div class="large-6 columns">
          <label>Email:
            <input type="text" ng-model="email" placeholder="Contact Email" required />
          </label>
        </div>

        <div class="large-6 columns">
          <label>Phone Number:
            <input type="text" ng-model="phone_number" placeholder="Phone Number" required />
          </label>
        </div>

        <div class="Date">
          <label>Date:
            <input type="text" ng-model="date" placeholder="Phone" required />
          </label>
        </div>

        <div class="large-6 columns">
          <label>Location:
            <input type="text" ng-model="location" placeholder="Location" required />
          </label>
        </div>

        <div class="large-6 columns">
          <label>Time:
            <input type="text" ng-model="time" placeholder="Location" required />
          </label>
        </div>


        <div class="row">
          <div class="large-12 columns">
            <input type="submit" value="Add Appointment" class="button" />
          </div>
        </div>

      </div>
      </form>


  </div>
</div>
