<div class="row" ng-controller="scheduleCtl">
  <div class="large-10 columns">
    <div data-alert ng-show="msg" class="alert-box">{{msg}}</div>

    <!-- Show Contact -->

    <div class="row" ng-show="appointmentShow">
      <div class="panel">
        <h3>{{name}}</h3>
        <ul>
          <li><strong>Email Address</strong>: {{ email }}</li>
          <li><strong>Phone Number</strong>: {{ phone_number }}</li>
          <li><strong>Date</strong>: {{ date }}</li>
          <li><strong>Location</strong>: {{ location }}</li>
          <li><strong>Time</strong>: {{ time }}</li>
        </ul>
      </div>
    </div>

    <!-- Add Contact -->
    <form ng-submit="addFormSubmit()" ng-show="addFormShow">
      <h3>Add Appointment</h3>
      <div clas="row">

        <div class="large-6 columns">
          <label>Name:
            <input type="text" ng-model="name" placeholder="Contact Name" required />
          </label>
        </div>

        <div class="large-6 columns">
          <label>Email:
            <input type="text" ng-model="email" placeholder="Contact Email" required />
          </label>
        </div>

        <div class="large-6 columns">
          <label>Phone Number:
            <input type="text" ng-model="phone_number" placeholder="Phone Number" required />
          </label>
        </div>

        <div class="large-6 columns">
          <label>Location:
            <input type="text" ng-model="location" placeholder="Location" required />
          </label>
        </div>

        <div class="large-6 columns">
          <label>Date:
            <input type="text" ng-model="date" placeholder="Date" required />
          </label>
        </div>

        <div class="large-6 columns">
          <label>Time:
            <input type="text" ng-model="time" placeholder="Time" required />
          </label>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <input type="submit" value="Add Appointment" class="button" />
          </div>
        </div>

      </div>
    </form>

    <!-------------------------------------------------------------------->
    <!-- Edit Contact -->
    <form ng-submit="editFormSubmit()" ng-show="editFormShow">
      <h3>Edit Appointment</h3>
      <div clas="row">

        <div class="large-6 columns">
          <label>Name:
            <input type="text" ng-model="name" placeholder="Contact Name" required />
          </label>
        </div>

        <div class="large-6 columns">
          <label>Email:
            <input type="text" ng-model="email" placeholder="Contact Email" required />
          </label>
        </div>

        <div class="large-6 columns">
          <label>Phone Number:
            <input type="text" ng-model="phone_number" placeholder="Phone Number" required />
          </label>
        </div>

        <div class="large-6 columns">
          <label>Location:
            <input type="text" ng-model="location" placeholder="Location" required />
          </label>
        </div>

        <div class="large-6 columns">
          <label>Date:
            <input type="text" ng-model="date" placeholder="Date" required />
          </label>
        </div>

        <div class="large-6 columns">
          <label>Time:
            <input type="text" ng-model="time" placeholder="Time" required />
          </label>
        </div>
      </div>

        <div class="row">
          <div class="large-12 columns">
            <input type="submit" value="Update Appointment" class="button" />
          </div>
        </div>
    </form>

    <h3>You have {{appointments.length}} appointments<h3>
      <table>
        <thead>
          <tr>
            <th width="200px">Name</th>
            <th width="200px;">Date</th>
            <th width="25%;">Time</th>
            <th width="25%;">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat = "appointment in appointments">
            <td><a ng-click="showContact(appointment)">{{appointment.name}}</a></td>
            <td>{{appointment.date}}</td>
            <td>{{appointment.time}}</td>
            <td><a class="button tiny" ng-click="showEditForm(appointment)">Edit</a>
              <a class="button tiny alert" ng-click="removeAppointment(appointment)">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="small-12 large-2 columns">
      <a class="button large" ng-click="showAddForm()" ng-hide="addFormShow">+</a>
      <a class="button large" ng-click="hide()" ng-show="addFormShow">-</a>
      <a class="button large" ng-click="hide()" ng-show="appointmentShow">-</a>
    </div>
  </div>
