@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html, body {
  height: 100%;
  font-family: Roboto Mono;
}
footer {
    bottom: 10px;
    text-align: center;
}

footer i {
    color:#ff0000;
}
